html {
    background-color: lightgray;
}

body {
    font-size: 15px;
    font-family: Inter, serif;
    color: #413F3F;
    background-color: #F4F4F4;
    width: 400px;
    height: 600px;
    margin: 0;
    padding: 0;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

article {
    width: 334px;
    height: 435px;
    margin: 41px 31px;
}

.subHeadline {
    margin-left: 15px;
}

.toDoListElementContainer, .subHeadline {
    display: flex;
    align-items: center;
}

li {
    margin-bottom: 16px;
    margin-left: 8px;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

input[type="checkbox"] {
    margin: 3px 9px 3px 0;
    box-sizing: border-box;
    min-width: 20px;
    min-height: 20px;
    accent-color: grey;
}

.checked, input[type="checkbox"] {
    opacity: 50%;
}
